<div class="boardContent elasticsearch">
    <h1>Elasticsearch</h1>

    <p>
        Error
    </p>
    <p>
        Elasticsearch monitor is not working or you didn't provide all parameters, reason: {{ message }}.
    </p>
</div>
