<style>
    .elasticsearch {
        padding: 15px;
    }

    .elasticsearch .name {
        min-height: 84px;
        font-size: 30px;
    }

    .elasticsearch .value {
        font-size: 60px;
        margin-top: 50px;
    }
</style>
<div class="boardContent elasticsearch {{ name|lower }}">
    <div class="name">{{ name }}</div>
    <div class="value">{{ data }}</div>
</div>
